{% extends "basewithsearch.html" %}
{% load static %}
{% block appContent %}

    {% for post in posts %}
        <div class="col-md-9  pr0 padding-top-40 properties-page mycontent">
                    <div class="col-md-12 clear">
                        <div id="list-type" class="proerty-th-list">
                            <div class="col-sm-6 col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="{% url 'post:detail' post.id %}" ><img src="{{ post.image_1.url }}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="{% url 'post:detail' post.id %}"> {{ post.title }} </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="proerty-price pull-right"> $ {{ post.price }}</span>
                                            <p style="display: none;">{{ post.description|truncatechars:50 }}...</p>
                                            <div class="property-icon">
                                                <img src="{% static 'assets/img/icon/bed.png' %}">(5)|
                                                <img src="{% static 'assets/img/icon/shawer.png' %}">(2)|
                                                <img src="{% static 'assets/img/icon/cars.png' %}">(1)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    {% endfor %}


{% endblock %}